.detail__imgWrap {
    position: relative;
    text-align: center;
    background-color: #fff;
    padding: 20px 0;
}

.blur_imgWrap {
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
}

.blur_img {
    position: absolute;
    left: -10%;
    top: -10%;
    right: -10%;
    bottom: -10%;
    background: inherit;
    z-index: -1;
    background-size: cover;
    opacity: 0.8;
    filter: blur(15px);
    -webkit-filter: blur(15px);
    -moz-filter: blur(15px);
    -o-filter: blur(15px);
}

.detail__imgWrap img {
    z-index: 1000;
    display: inline-block;
    position: relative;
    width: 50%;
}

.detail__info {
    padding: 10px;
}

.info__title, .info__author, .info__publish {
    margin: 0;
    width:100%;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
}

.info__detail {
    text-align: justify;
    line-height: 1.4rem;
    letter-spacing: -0.05em;
    padding: 11px;
}

iframe {
    max-width: 100%;
    width: 100%;
}